body {
  font-family: Arial, sans-serif;
    margin: 30px;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
}header{
  color: white;
  background-color: rgba(255, 99, 71, 0.5);
  margin: 20px ; 
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  
}img{
  border-radius: 200px;
  text-align: left;
  
}nav ul{
  background-color: white;
  list-style-type: none;
    margin: 20;
    padding:90;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: green;
    padding: 10px;
}

main section {
    margin: 20px;
  
}section{
  color: white;
  font-weight: bold
    font-family: 'Arial' sans-serif;
  
}h2{
  text-align: center
          